.about {
  position: relative;
  max-width: 100%;
  height: 70vh; /* Cambiar el valor de la altura */
  background-image:url(../assets/constructora/abaout/about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  margin: 50px auto;
}

/* Agrega esta regla para ajustar el ancho máximo de la imagen */

.Aboutoverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(116, 116, 116, 0.596);
}



.text {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.h1t{
  font-size: 2rem;
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  .p {
  font-size: 0.8em;
  margin: 0 auto;
  align-items: center;
  text-align: justify;
  padding:1em;
  }
  .text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
   
  }
 
  .about {
    margin: 5px auto;
    width: 100%;
  }
  .h1t{
    padding:0.5em;
    font-size: 1.5rem;
   
  }
  .Aboutoverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(116, 116, 116, 0.596);
    }
  
  
}