

.fondoFooter {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( rgba(10, 25, 233, 0.603), rgba(255, 255, 255, 0.5)), url(../../public/png.constructora/const.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    z-index: 0;

  }

 

  @media only screen and (max-width: 767px) {
    .fondoFooter {
      height: auto;
      background-position: top;
    }
  }