@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


* {
  margin:0 ;
  padding: 0;
  box-sizing: border-box;

}

.my-class {
    color: theme('colors.dark');
  }

.colorBoton{
  background-color: rgba(155, 201, 252, 0.6);

}
  